# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\caiov\Desktop\F1RMEZA\1. Tecnologia da Informacao\2. Projetos\1. Backend\2. Kotlin\1. Workspace\ANDROID API\RIFASTORE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
